header
{
    @include flex(flex-start,space-between,fixed);
    @include width_height(100%,map-get($tamaño, cien));
    background-color: map-get($colores,color1);
    img{
        @include width_height(map-get($tamaño, ochenta),map-get($tamaño,ochenta));
        border-radius: 10px;
        margin-left: 10px;
        grid-area: section1;
    }
    .tracking-in-expand-fwd-top{
        @include font(map-get($tamaño, cien),"Marca");
        text-align:center;
        font-weight: 100px;
        position: relative;
        left: 11rem;
        bottom: 1rem;
        grid-area: section2;
        -webkit-animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
        animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    }
    @-webkit-keyframes tracking-in-expand-fwd-top {
        0% {
        letter-spacing: -0.5em;
        -webkit-transform: translateZ(-700px) translateY(-500px);
                transform: translateZ(-700px) translateY(-500px);
        opacity: 0;
        }
        40% {
        opacity: 0.6;
        }
        100% {
        -webkit-transform: translateZ(0) translateY(0);
                transform: translateZ(0) translateY(0);
        opacity: 1;
        }
    }
    @keyframes tracking-in-expand-fwd-top {
        0% {
        letter-spacing: -0.5em;
        -webkit-transform: translateZ(-700px) translateY(-500px);
                transform: translateZ(-700px) translateY(-500px);
        opacity: 0;
        }
        40% {
        opacity: 0.6;
        }
        100% {
        -webkit-transform: translateZ(0) translateY(0);
                transform: translateZ(0) translateY(0);
        opacity: 1;
        }
    }
    nav{
        ul{
            @include font(map-get($tamaño, cuarenta),"Letra");
            list-style: none;
            grid-area: section3;
            li{
                display: inline-block;
                margin-right: 10px;
                font-size: map-get($tamaño, treinta);
                &:hover{
                    transform: scale(1.3);
                    transition: transform 500ms;
                    font-weight: bold;
                    text-shadow: 3px 3px 0 $color-texto;
                }
                a{
                    text-decoration: none;
                    color: map-get($colores, color3);
                }
            }
        }
    }
}